* {
    font-family: Garamond;
    color: white;
}

header {
    background-color: Indigo;
    text-align: center;
    padding: 2px;
}

.lewa, .prawa {
    background-color: Indigo;
    height: 600px;
}

.srodkowa {
    background-color: black;
    height: 600px;
    overflow: scroll;
}

footer {
    background-color: Indigo;
    height: 150px;
}

input[type="text"], input[type="number"] {
    margin: 10px;
    color: Indigo;
}

.punkty {
    background-color: Tomato;
    border-radius: 50%;
    padding: 5px;
}

li {
    padding: 5px;
}

.gra {
    display: inline-block;
    text-align: center;
    padding: 3px;
}

.lewa, .srodkowa, .prawa {
    float: left;
}

@media screen and (min-width: 801px) {
    .lewa, .prawa {
        width: 20%;
    }
    .srodkowa {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .lewa, .srodkowa, .prawa {
        width: 100%;
        float: none;
    }
}